In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vgsales_5.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12643,The History Channel: Battle for the Pacific,X360,2007.0,Shooter,Activision,0.05,0.00,0.00,0.00,0.06
1,10134,Yu Yu Hakusho: Tournament Tactics,GBA,2004.0,Strategy,Atari,0.08,0.03,0.00,0.00,0.11
2,9490,The History Channel: Great Battles - Medieval,X360,2010.0,Strategy,Slitherine Software,0.08,0.04,0.00,0.01,0.13
3,2052,Monster Rancher,PS,1997.0,Simulation,Tecmo Koei,0.12,0.08,0.74,0.07,1.01
4,9266,Singstar: Ultimate Party,PS3,2014.0,Misc,Sony Computer Entertainment Europe,0.00,0.12,0.00,0.02,0.14
...,...,...,...,...,...,...,...,...,...,...,...
548,9510,Last Bronx,SAT,1996.0,Fighting,Sega,0.00,0.00,0.13,0.00,0.13
549,14523,Star Trek: Tactical Assault,PSP,2006.0,Strategy,Ubisoft,0.02,0.01,0.00,0.00,0.03
550,7811,IHRA Professional Drag Racing 2005,PS2,2004.0,Racing,Bethesda Softworks,0.09,0.07,0.00,0.02,0.19
551,5215,AMF Bowling World Lanes,Wii,2008.0,Sports,Bethesda Softworks,0.33,0.00,0.00,0.03,0.36
552,12012,Point Blank DS (JP sales),DS,2006.0,Shooter,Atari,0.00,0.00,0.07,0.00,0.07

In [16]:
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12643,The History Channel: Battle for the Pacific,X360,2007.0,Shooter,Activision,0.05,0.00,0.00,0.00,0.06
1,10134,Yu Yu Hakusho: Tournament Tactics,GBA,2004.0,Strategy,Atari,0.08,0.03,0.00,0.00,0.11
2,9490,The History Channel: Great Battles - Medieval,X360,2010.0,Strategy,Slitherine Software,0.08,0.04,0.00,0.01,0.13
3,2052,Monster Rancher,PS,1997.0,Simulation,Tecmo Koei,0.12,0.08,0.74,0.07,1.01
4,9266,Singstar: Ultimate Party,PS3,2014.0,Misc,Sony Computer Entertainment Europe,0.00,0.12,0.00,0.02,0.14
5,553,Onimusha: Warlords,PS2,2001.0,Action,Virgin Interactive,0.99,0.48,1.09,0.14,2.70
6,16184,Resistance Dual Pack,PS3,2011.0,Shooter,Sony Computer Entertainment,0.00,0.01,0.00,0.00,0.01
7,12718,Titan Quest,PC,2006.0,Role-Playing,THQ,0.01,0.04,0.00,0.01,0.06
8,1562,Hogan's Alley,NES,1984.0,Shooter,Nintendo,0.68,0.16,0.41,0.02,1.27
9,7948,Star Trek: Legacy,X360,NaN,Simulation,Ubisoft,0.14,0.03,0.00,0.02,0.19

In [17]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,542.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8192.810127,2006.335793,0.242441,0.121284,0.068879,0.057034,0.489910
std,4736.853364,5.867433,0.614151,0.294055,0.212344,0.338951,1.120093
min,30.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,3938.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.070000
50%,8188.000000,2007.000000,0.080000,0.030000,0.000000,0.010000,0.180000
75%,12241.000000,2010.000000,0.250000,0.130000,0.030000,0.040000,0.510000
max,16503.000000,2016.000000,9.030000,4.280000,2.350000,7.530000,14.760000

In [18]:
df.count()

Rank            553
Name            553
Platform        553
Year            542
Genre           553
Publisher       553
NA_Sales        553
EU_Sales        553
JP_Sales        553
Other_Sales     553
Global_Sales    553
dtype: int64

In [5]:
df.where(df['Rank'] == 30).dropna()
df.where(df['Rank'] == 16503).dropna()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
504,16503.0,Satomi Hakkenden: Hachi Tamanoki,PSP,2014.0,Adventure,Quinrose,0.0,0.0,0.01,0.0,0.01

In [24]:
print("Вывод уникальных наименований игр: ", len(df.Name.unique()))
print('')
print('Наименования: ', df.Name.unique())

Вывод уникальных наименований игр:  532

Наименования:  ['The History Channel: Battle for the Pacific'
 'Yu Yu Hakusho: Tournament Tactics'
 'The History Channel: Great Battles - Medieval' 'Monster Rancher'
 'Singstar: Ultimate Party' 'Onimusha: Warlords' 'Resistance Dual Pack'
 'Titan Quest' "Hogan's Alley" 'Star Trek: Legacy' 'NEVES' 'Reactor'
 'Crash: Twinsanity' 'Hamtaro: Ham-Hams Unite!'
 'LEGO Indiana Jones: The Original Adventures'
 'Metal Gear Solid: Portable Ops Plus'
 'Secret Service: Ultimate Sacrifice'
 'My SAT Coach with The Princeton Review' 'Last Escort: Club Katze'
 'I-Ninja' 'The Next Tetris' 'Impact Racing' 'Beyond the Labyrinth'
 'Monster Trux Arenas: Special Edition' 'Dance Central 2'
 'Digging for Dinosaurs' 'Watch Dogs' 'RoadKill'
 'IHRA Drag Racing: Sportsman Edition' 'Space Bust-A-Move'
 'Rock Band Country Track Pack 2'
 'King of Fighters: Maximum Impact Regulation A' 'James Bond 007: Legends'
 'Dead or Alive 2' 'Kung Fu Panda 2' 'Brute Force'
 'Super Robot Wars OG Saga Masou Kishin F: Coffin of the End'
 'The IdolM@ster: One for All' 'Homeworld' 'SingStar Chartbreaker'
 'Vampire Moon: The Mystery of the Hidden Sun'
 'The Misadventures of Tron Bonne' 'I Spy: Castle' 'Kami Naru Kimi to'
 'Tokyo Xanadu eX+' 'Disney Sports Skateboarding' 'FIFA Street 2'
 'Tsuki ni Yori Sou Otome no Sahou: Hidamari no Hibi'
 'Prince of Persia: The Forgotten Sands' 'Everybody Dance'
 'Jikkyou Powerful Pro Yakyuu 7'
 '2 Games in 1: SpongeBob SquarePants: SuperSponge & Rugrats Go Wild'
 "The King of Fighters '95" 'MotoGP 14' 'Jampack: Summer 2003 (RP-T)'
 'Reader Rabbit Kindergarten' 'SimAnimals'
 'Emily the Strange: Strangerous' 'Dance Central 3'
 'MechAssault: Phantom War' 'Pro Evolution Soccer 2013'
 'Battlefield 2: Modern Combat(JP sales)' 'Hasbro Family Fun Pack'
 'Playmobil Knights' 'Battlefield 4' 'The Walking Dead: Season One'
 'WWE 2K14' 'Winning Post 7 2010' 'Tsugunai: Atonement' 'Just Dance 2016'
 'Zoo Vet: Endangered Animals' 'WRC 5: FIA World Rally Championship'
 'Monster Rancher Battle Card: Episode II'
 'Harry Potter and the Prisoner of Azkaban' 'Guilty Gear XX Slash'
 'Cross Channel: In Memory of All People' 'Book of Spells' 'Dishonored'
 'Mystic Ark' 'RollerCoaster Tycoon 2' 'Portal 2'
 'Pro Evolution Soccer 2010' 'Nobunaga no Yabou: Souzou'
 'Pictionary: Ultimate Edition' 'Bomberman'
 'XGRA: Extreme G Racing Association' 'Record of Agarest War: Marriage'
 'Gothic 3' 'Nodame Cantabile' 'Motor Trend presents Lotus Challenge'
 'Imagine: Reporter' 'Rescue Heroes: Billy Blazes' 'Transworld Surf'
 'Winning Post 8 2015' 'CSI: Fatal Conspiracy'
 'Real Crimes: The Unicorn Killer' 'Gears of War'
 'Animal Planet: Vet Life'
 'Doraemon: Shin Nobita no Daimakyou Peko to 5-nin no Tankenta'
 'Killzone 2' 'The Simpsons Game'
 'TV Anime Idolm@ster: Cinderella Girls G4U! Pack Vol.6'
 'High School Musical 3: Senior Year DANCE!' 'Ape Escape: Pumped & Primed'
 'Toriko: Gourmet Battle!' 'MX vs. ATV Supercross'
 'Coronation Street: The Mystery of the Missing Hotpot Recipe'
 'Prince of Persia: Rival Swords' 'Alter Echo'
 'Summon Night 6: Lost Borders' 'Ben 10: Alien Force' 'Derby Stallion III'
 'The LEGO Movie Videogame' 'Fatal Frame' "Disney's The Lion King"
 'Street Fighter V' "LEGO Marvel's Avengers" 'Clannad' 'Hulk'
 'Ty the Tasmanian Tiger' 'Goosebumps HorrorLand' 'Freelancer'
 'Big Mountain 2000' 'Call of Duty: Modern Warfare 3'
 'Duke Nukem: Time to Kill' "Yggdra Union: We'll Never Fight Alone"
 'Battlezone: Rise of the Black Dogs' 'Power Pro Kun Pocket 4'
 'Detective Conan: Marionette Symphony' 'Tomb Raider (2013)' 'Darkwatch'
 'WRC: FIA World Rally Championship' 'Test Drive Off-Road Wide Open'
 'Seiken Densetsu 3' 'DrumMania' 'Planet of the Apes'
 "Dragon Quest Heroes: The World's Tree Woe and the Blight Below"
 'Saw II: Flesh & Blood' '.hack//G.U. Vol.2//Reminisce (jp sales)'
 'Xiaolin Showdown' 'WWE SmackDown vs Raw 2008'
 "SeaWorld Adventure Parks: Shamu's Deep Sea Adventure" 'Honda ATV Fever'
 'The Cursed Crusade' 'Madden NFL 10' "Cabela's Trophy Bucks"
 'Tokyo Ghoul: Jail' 'Skylanders: SuperChargers'
 'Crouching Tiger, Hidden Dragon'
 'Mahou Sensei Negima! Kagai Jugyou ~Otome no Dokidoki Beachside~' 'DiRT'
 'NBA Live 16' 'Marvel vs. Capcom: Clash of Super Heroes' 'The BIGS 2'
 'Transformers: War for Cybertron (XBox 360, PS3, & PC Versions)'
 'Outlaw Golf: Nine Holes of Christmas' "Assassin's Creed Chronicles"
 'Major Dream: Major DS Dream Baseball'
 'Metal Fight Beyblade: Choujou Kessen! Big Bang Bladers'
 'Tiger Woods PGA Tour 2005' 'Middle-Earth: Shadow of Mordor' 'Spy vs Spy'
 'Mega Man Anniversary Collection' 'Race Driver: Create & Race'
 'Devil May Cry 4' 'Retro Game Challenge (US sales)'
 'Arcana Famiglia: Vascello Phantasma no Majutsushi'
 'Karaoke Revolution Presents American Idol Encore 2'
 'Darkstalkers Chronicle: The Chaos Tower'
 'Star Wars: Empire at War - Forces of Corruption'
 'Soukoku no Kusabi: Hiiro no Kakera 3 - Ashita e no Tobira'
 'Doki Doki! PreCure Narikiri Life!' 'Horsez'
 "Candace Kane's Candy Factory" 'Godzilla: Destroy All Monsters Melee'
 'Tomb Raider Chronicles' 'NASCAR 08' 'Castlevania: Order of Ecclesia'
 'Mobile Suit Gundam: MS Sensen 0079' 'Samurai Warriors 2: Empires'
 'Batman Beyond: Return of the Joker'
 'Green Lantern: Rise of the Manhunters' 'DreamWorks Super Star Kartz'
 'Splatterhouse' 'Iron Chef America: Supreme Cuisine'
 'Harry Potter and the Goblet of Fire' 'Mortal Kombat'
 'Star Wars: Battlefront' 'RC Revenge Pro' 'Forza Horizon 2' 'Re-Volt'
 'Metal Gear Solid V: The Phantom Pain'
 'Alvin and the Chipmunks: The Squeakquel' 'Gran Turismo 4'
 "Dragon Ball Z: Buu's Fury" 'War for the Overworld' 'Ride to Hell'
 'Baseball' 'Metal Slug Anthology' 'Touch Detective 2 1/2'
 'Hasbro Family Game Night' 'Baby Pals' 'Grand Prix Challenge' 'Driven'
 'World Stadium EX' 'Derby Stallion 99' '007: Quantum of Solace'
 'Chou-Kuukan Night Pro Yakyuu King (weekly JP sales)'
 'Hooked! Again: Real Motion Fishing' 'Army Men: Major Malfunction'
 'Pokémon Trading Card Game' 'James Bond 007: Agent Under Fire'
 'Neighborhood Games' 'Sky Gunner' 'Supercross 2000'
 'Transformers: Revenge of the Fallen (XBox 360, PS3, & PC Versions)'
 'Winning Post' 'Star Wars: Battlefront II' 'Far Cry 4'
 'Toy Soldiers: War Chest' 'MySims SkyHeroes' 'Def Jam Vendetta'
 'Scene It? Box Office Smash' 'Jikkyou Powerful Pro Yakyuu 4'
 'Driver: San Francisco' 'Ship Simulator Extremes'
 'Judge Dredd: Dredd Vs Death' 'Mortal Kombat X' 'Burnout'
 "Master Jin Jin's IQ Challenge" 'Jupiter Strike' 'Shattered Union'
 'Rampage: Total Destruction' 'Konami Classics Vol. 1'
 'Deus Ex: Human Revolution' 'MLB SlugFest 20-04' 'WipEout Pulse'
 'Disgaea 4: A Promise Unforgotten' 'Pac-Man: Adventures in Time'
 'Game Party 2' 'Growlanser: Heritage of War (jp sales)' 'Shrek SuperSlam'
 'Rapala Tournament Fishing!'
 'Tokyo Mono Harashi: Karasu no Mori Gakuen Kitan' 'NCAA Final Four 2002'
 'Fantasia: Music Evolved' 'Murakumo: Renegade Mech Pursuit'
 'Kameo: Elements of Power' 'Overlord' 'Project Eden'
 'Legacy of Kain: Defiance' 'SaGa Frontier 2' 'Diner Dash: Sizzle & Serve'
 'Phantasy Star Online' 'Big Strike Bowling' 'Afro Samurai'
 'BlazBlue: Calamity Trigger' 'Mother 3' 'Brunswick Pro Bowling'
 'Too Human' 'Samurai Champloo: Sidetracked'
 'The Flintstones: Big Trouble in Bedrock' 'Digimon Racing' 'Spy Hunter'
 'Zenses: Rainforest' 'NFL Blitz'
 'Virtua Fighter CG Portrait Series Vol.4: Pai Chan' 'NBA 2K15'
 'TouchMaster: Connect'
 "Nobunaga's Ambition: Tenshouki with Power-Up Kit HD Version"
 'Naruto: Ultimate Ninja Heroes 2 - The Phantom Fortress' 'Rayman Legends'
 'Manhunt' 'MX Unleashed' 'Nobunaga no Yabou: Haouden' 'Bomberman Land'
 'Lord of the Rings: Tactics' 'Superstars V8 Racing'
 "Hell's Kitchen: The Game"
 'Taiko no Tatsujin: Doki! Shinkyoku Darake no Haru Matsuri'
 "Brave: A Warrior's Tale" 'NASCAR 2011: The Game'
 'Art Academy: Lessons for Everyone' 'Links 2004' 'Sega GT'
 'Odoru Daisousasen The Game: Sensuikan ni Sennyuu Seyo!' 'Time Travelers'
 'WCW vs. nWo: World Tour' 'Virtua Fighter 5 Online' 'NHL Hitz 20-03'
 'R: Racing Evolution' "Super Ghouls 'n Ghosts" 'Independence Day'
 'Age of Empires III' 'Wipeout 2048' 'BeatMania IIDX 3rd Style'
 'Sunny Garcia Surfing' 'The Sims 2: Pets' 'Disgaea 3: Absence of Justice'
 'Baja: Edge of Control' 'Yourself Fitness' 'Guitar Hero'
 'Madden NFL Football' 'My Pet Shop'
 'Katekyoo Hitman Reborn! Kindan no Yami no Delta' 'LEGO Friends'
 'Fatal Fury' 'Derby Stallion DS' 'Pokemon Rumble World'
 'UFC Undisputed 2010' 'Backbreaker'
 'Roswell Conspiracies: Aliens, Myths & Legends'
 "Army Men: Sarge's Heroes" 'Frontlines: Fuel of War'
 'Barbie Horse Adventures: Wild Horse Rescue'
 'Dream Day: Wedding Destinations' 'Exit DS'
 'Barbie Fashion Show: An Eye for Style' 'F1 2011' 'Pole Position' 'SAW'
 'Phantasy Star Universe: Ambition of the Illuminus' 'Alien Breed Trilogy'
 'Rosco McQueen: Firefighter Extreme' 'pro evolution soccer 2011'
 'Dynasty Warriors 5' 'Ryu-koku' 'Scaler' 'Space Station Silicon Valley'
 'Tobal No.1'
 'Touhoku Daigaku Mirai Kagaku Gijutsu Kyoudou Kenkyuu Center Kawashima Ryuuta Kyouju Kanshu: Nou Ryoku Trainer Portable'
 'Rise of Nations' 'Medal of Honor: Vanguard' 'Diablo II' 'FIFA 17'
 'The Club' 'The Adventures of Jimmy Neutron Boy Genius: Jet Fusion'
 'SingStar' 'Sly Cooper and the Thievius Raccoonus' 'Vin Diesel: Wheelman'
 'The Incredible Hulk: The Pantheon Saga' 'Demigod' 'Burnout 3: Takedown'
 'Rock Band: Metal Track Pack' 'Bushido Blade' 'Dungeon Defenders'
 'Tales of Phantasia' 'Earth Defense Force: Insect Armageddon'
 'Def Jam: Fight for NY'
 'TV Anime Idolm@ster: Cinderella Girls G4U! Pack Vol.2' 'Rayman Origins'
 'MotionSports' 'MySims Agents' 'NBA 2K11'
 'GT Advance Championship Racing' 'Legendary' 'PGA Tour 96' 'NBA Hangtime'
 'Dragon Ball: Raging Blast 2' 'Dance Dance Revolution Universe'
 'Bullet Witch' 'Dead or Alive 5' 'Commando' 'LEGO Jurassic World'
 'Monopoly' 'Hellboy: The Science of Evil' 'Total War: Shogun 2'
 "Where's Waldo? The Fantastic Journey" 'Black & White 2'
 'River City Soccer Hooligans'
 'The Legend of Heroes: Trails in the Sky SC Evolution' 'Jig-A-Pix: Pets'
 'Nishijin Pachinko Monogatari 2' 'Need for Speed Underground'
 "Mirror's Edge Catalyst" 'Magi: The Labyrinth of Beginning'
 'Ishin no Arashi: Shippuu Ryuumeden' 'LEGO Batman: The Videogame'
 'Lost Planet 2' 'NFL 2K3' 'Cosmic Family' 'Dungeon Siege III'
 'EA Sports Active 2' 'Puyo Puyo Sun' 'Scooby-Doo! Classic Creep Capers'
 'Tenka-bito' 'Ultimate Marvel vs. Capcom 3' 'EyeToy: Operation Spy'
 'Elemental Gearbolt'
 'The Adventures of Jimmy Neutron Boy Genius vs. Jimmy Negatron'
 'Hudson x GReeeeN Live!? DeeeeS!?' 'SD Gundam G Generation Neo'
 'Hot Wheels: Stunt Track Challenge / World Race' 'Okami'
 'Buzz! The Hollywood Quiz' 'Final Fantasy Tactics Advance'
 'Resident Evil: The Umbrella Chronicles'
 'Scooby-Doo! Night of 100 Frights' "Magician's Quest: Town of Magic"
 'Mega Man Battle Network: Operation Shooting Star'
 'Divinity: Original Sin' 'Need for Speed: Shift 2 Unleashed' 'Krazy Ivan'
 'Penguin no Mondai: The World' 'Triple Play 98'
 'Dragon Ball: Advanced Adventure' "L'Aigle de Guerre"
 'Tactics Ogre: Let Us Cling Together' 'Twinkle * Crusaders GoGo!'
 'Cake Mania 3' 'Fate/Tiger Colosseum' "Tom Clancy's HAWX"
 'Jak and Daxter: The Precursor Legacy' 'Gladiator Begins' 'NASCAR 2001'
 'In The Groove' 'Gon: BakuBakuBakuBaku Adventure' 'EyeToy: AntiGrav'
 'Resident Evil 2' "Resident Evil Director's Cut: Dual Shock Edition"
 'Battle vs. Chess' 'Quantum Theory' 'Aggressive Inline'
 'Voodoo Chronicles: First Sign' 'WorldShift'
 'Mega Man Battle Network 4: Red Sun / Blue Moon'
 'Kenka Bancho Bros: Tokyo Battle Royale' 'Kurushi Final: Mental Blocks'
 'Marvel vs. Capcom 3: Fate of Two Worlds'
 'Karaoke Revolution Presents American Idol Encore' 'Martian Panic'
 'Dynasty Warriors Advance' 'Bratz Ponyz' 'Pro Yaky? Spirits 4'
 'F1 ROC: Race of Champions' 'Need for Speed: ProStreet' 'Disruptor'
 'Star Wars: Starfighter' 'Momotarou Dentetsu DS: Tokyo & Japan'
 "Sesame Street: Elmo's Letter Adventure" 'Fishing Derby' 'Suikoden V'
 "Tom Clancy's Splinter Cell: Chaos Theory" 'Steins;Gate' 'Pursuit Force'
 'Konohana 2: Todoke Kanai Requiem' 'Dino Stalker' 'Pokken Tournament'
 'The Bachelor: The Videogame' 'LEGO Marvel Super Heroes' 'Dune 2000'
 'Winter Sports: The Ultimate Challenge' 'Castlevania'
 'Code Name: S.T.E.A.M.' 'Carnival Games' 'Samurai Shodown'
 'Suzumiya Haruhi no Gekidou' 'James Bond 007: Nightfire'
 'Need for Speed: Most Wanted' 'Teen Titans' 'No Rules: Get Phat'
 'Turning Point: Fall of Liberty' 'Race Pro' 'Major League Baseball 2K9'
 'Men in Black The Series: Crashdown' 'Steins;Gate 0' 'MX vs. ATV Reflex'
 'Time Commando' 'Cooking Mama: My Sweets Shop' 'Iron Man 2'
 'Girls und Panzer: I Will Master Tankery'
 'Yu-Gi-Oh! World Championship Tournament 2004' 'Tales of Berseria'
 'Ready 2 Rumble Boxing: Round 2' 'Nanashi no Game'
 'The Legend of Heroes: Trails in the Sky First Chapter'
 'Silent Hill: Homecoming' 'Unreal Tournament III'
 'Bad Boys: Miami Takedown' 'Beowulf: The Game' 'Dragon Booster'
 'Dragon Ball Z: Budokai Tenkaichi 2' 'Colony Wars: Vengeance'
 'The Testament of Sherlock Holmes' "Mike Tyson's Punch-Out!!" 'Halo 3'
 'Rango: The Video Game' 'Satomi Hakkenden: Hachi Tamanoki'
 'Guitar Hero: Aerosmith' 'Mike Tyson Heavyweight Boxing'
 'Dragon Age: Inquisition' 'Monster Jam: Maximum Destruction'
 'Parasite Eve II'
 'Onna no Ko to Misshitsu ni Itara **shichau Kamoshirenai'
 'Power Gig: Rise of the SixString' 'The Lord of the Rings: Conquest'
 "Lemony Snicket's A Series of Unfortunate Events" 'Curious George'
 'Picross DS' 'Half-Minute Hero 2' 'DanceStar Party' 'F-Zero: GP Legend'
 'Samurai Warriors Chronicles 3' 'Yuu Yuu Hakusho: Makyo Toitsusen'
 'Jurassic: The Hunted' "Cabela's North American Adventures"
 'Jikkyou Powerful Pro Yakyuu Next' 'SOCOM II: U.S. Navy SEALs'
 'Warriors Orochi 3' 'Burnout Dominator' 'FIFA Soccer 06'
 'Kekkaishi: Karasumori Ayakashi Kidan' 'Madden NFL 13'
 'Family Game Night 4: The Game Show'
 'Rakushou! Pachi-Slot Sengen 6: Rio 2 Cruising Vanadis'
 'Tiger Woods PGA Tour Golf' 'Joint Operations: Combined Arms'
 'MonHun Nikki: Poka Poka Ailu Mura' 'Borderlands' 'UFC Undisputed 3'
 "John Daly's ProStroke Golf" 'Astro Boy: The Video Game'
 'Little League World Series Baseball 2010' 'Imagine: Ice Champions'
 'Mass Effect 3' 'Sakura Wars' 'SimAnimals Africa' 'Last Bronx'
 'Star Trek: Tactical Assault' 'IHRA Professional Drag Racing 2005'
 'AMF Bowling World Lanes' 'Point Blank DS (JP sales)']

In [25]:
print('Процент уникальных значений: ', len(df.Name.unique()) / len(df) * 100, "%")

Процент уникальных значений:  96.20253164556962 %

In [22]:
print('Процент неуникальных значений: ', 100 - len(df.Name.unique()) / len(df) * 100, "%")

Процент неуникальных значений:  3.7974683544303787 %

In [39]:
publisher = df.groupby(['Publisher', 'Year'])['Name'].value_counts()
print("Игры выпущеныые несколько раз одним и тем же издателем", publisher.where(publisher > 1).dropna())

Игры выпущеныые несколько раз одним и тем же издателем Publisher                               Year    Name
Activision                              2008.0  007: Quantum of Solace                                                2.0
                                        2009.0  Transformers: Revenge of the Fallen (XBox 360, PS3, & PC Versions)    2.0
Codemasters                             2011.0  F1 2011                                                               2.0
Electronic Arts                         2009.0  Madden NFL 10                                                         2.0
                                        2016.0  FIFA 17                                                               2.0
Global Star                             2004.0  Scaler                                                                2.0
Konami Digital Entertainment            2002.0  Disney Sports Skateboarding                                           2.0
Midway Games                            2003.0  RoadKill                                                              3.0
Sony Computer Entertainment             1997.0  Rosco McQueen: Firefighter Extreme                                    2.0
                                        2012.0  Book of Spells                                                        2.0
Square Enix                             2008.0  Space Bust-A-Move                                                     2.0
THQ                                     2008.0  Baja: Edge of Control                                                 2.0
Ubisoft                                 2014.0  Watch Dogs                                                            2.0
                                        2015.0  Just Dance 2016                                                       2.0
Valve Software                          2011.0  Portal 2                                                              2.0
Warner Bros. Interactive Entertainment  2012.0  Mortal Kombat                                                         2.0
dramatic create                         2015.0  Tsuki ni Yori Sou Otome no Sahou: Hidamari no Hibi                    2.0
Name: Name, dtype: float64

In [42]:
df.loc[df['Name'] == 'RoadKill']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
27,11557,RoadKill,XB,2003.0,Action,Midway Games,0.06,0.02,0.0,0.0,0.08
412,11557,RoadKill,XB,2003.0,Action,Midway Games,0.06,0.02,0.0,0.0,0.08
510,11557,RoadKill,XB,2003.0,Action,Midway Games,0.06,0.02,0.0,0.0,0.08

In [53]:
print('Количество уникальных платформ: ', len(df['Platform'].unique()))
#print('Наименование уникальных платформ: \n', df['Platform'].unique())
print('Наименование уникальных платформ: ', df['Platform'].value_counts())

Количество уникальных платформ:  24
Наименование уникальных платформ:  PS2     71
DS      61
X360    52
PS3     52
PC      40
PS      38
PSP     33
Wii     33
XB      28
GBA     28
3DS     19
GC      18
PSV     17
N64     11
PS4     10
SNES    10
XOne     8
NES      5
WiiU     5
DC       4
SAT      4
2600     3
GB       2
GEN      1
Name: Platform, dtype: int64

In [58]:
df.isnull().mean()*100

Rank            0.00000
Name            0.00000
Platform        0.00000
Year            1.98915
Genre           0.00000
Publisher       0.00000
NA_Sales        0.00000
EU_Sales        0.00000
JP_Sales        0.00000
Other_Sales     0.00000
Global_Sales    0.00000
dtype: float64

In [61]:
df = df.drop_duplicates(subset=['Name', 'Platform'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          544 non-null    int64
 1   Name          544 non-null    object
 2   Platform      544 non-null    object
 3   Year          533 non-null    float64
 4   Genre         544 non-null    object
 5   Publisher     544 non-null    object
 6   NA_Sales      544 non-null    float64
 7   EU_Sales      544 non-null    float64
 8   JP_Sales      544 non-null    float64
 9   Other_Sales   544 non-null    float64
 10  Global_Sales  544 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 51.0+ KB

In [69]:
p5 = pd.DataFrame([
    [1,1,1, ''],
    [1,1,1, ''],
    [1,1,1, '']],
    columns = ['id', 'Name', 'age', 'Genre'])
p5

   id  Name  age Genre
0   1     1    1
1   1     1    1
2   1     1    1

In [79]:
p5.drop(columns = ['Genre'])

   id  Name  age
0   1     1    1
1   1     1    1
2   1     1    1

In [95]:
p5_vers = pd.DataFrame([
    [1,1,1, np.nan],
    [1,1,1, np.nan],
    [1,1,1, 1]],
    columns = ['id', 'Name', 'age', 'Genre'])
p5_vers

   id  Name  age  Genre
0   1     1    1    NaN
1   1     1    1    NaN
2   1     1    1    1.0

In [88]:
p5_vers = p5_vers.dropna(subset=['Genre'])
p5_vers

   id  Name  age  Genre
2   1     1    1    1.0

In [96]:
p5_vers = p5_vers.replace({'Genre': np.nan}, 'N/A')
p5_vers

   id  Name  age Genre
0   1     1    1   N/A
1   1     1    1   N/A
2   1     1    1   1.0

In [102]:
from sklearn.impute import SimpleImputer

simp = SimpleImputer(strategy = 'mean', missing_values = np.nan)
simp = simp.fit(df[['Year']])
df['Year'] = simp.transform(df[['Year']])

df.isnull().mean()*100

Rank            0.0
Name            0.0
Platform        0.0
Year            0.0
Genre           0.0
Publisher       0.0
NA_Sales        0.0
EU_Sales        0.0
JP_Sales        0.0
Other_Sales     0.0
Global_Sales    0.0
dtype: float64

In [4]:
df.to_csv('vgsales_P5.csv', index=False)
df = pd.read_csv('vgsales_P5.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12643,The History Channel: Battle for the Pacific,X360,2007.0,Shooter,Activision,0.05,0.00,0.00,0.00,0.06
1,10134,Yu Yu Hakusho: Tournament Tactics,GBA,2004.0,Strategy,Atari,0.08,0.03,0.00,0.00,0.11
2,9490,The History Channel: Great Battles - Medieval,X360,2010.0,Strategy,Slitherine Software,0.08,0.04,0.00,0.01,0.13
3,2052,Monster Rancher,PS,1997.0,Simulation,Tecmo Koei,0.12,0.08,0.74,0.07,1.01
4,9266,Singstar: Ultimate Party,PS3,2014.0,Misc,Sony Computer Entertainment Europe,0.00,0.12,0.00,0.02,0.14
...,...,...,...,...,...,...,...,...,...,...,...
548,9510,Last Bronx,SAT,1996.0,Fighting,Sega,0.00,0.00,0.13,0.00,0.13
549,14523,Star Trek: Tactical Assault,PSP,2006.0,Strategy,Ubisoft,0.02,0.01,0.00,0.00,0.03
550,7811,IHRA Professional Drag Racing 2005,PS2,2004.0,Racing,Bethesda Softworks,0.09,0.07,0.00,0.02,0.19
551,5215,AMF Bowling World Lanes,Wii,2008.0,Sports,Bethesda Softworks,0.33,0.00,0.00,0.03,0.36
552,12012,Point Blank DS (JP sales),DS,2006.0,Shooter,Atari,0.00,0.00,0.07,0.00,0.07